*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #a0a0a0;
}

.main-content{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section{
    grid-column: span 2;
    height: 100%;
    background-color: #1b1b1b;
}
.right-section{
    grid-column: span 5;
    background-color: #ffffff;
    height: 100%;
}

.left-content{
    padding: 2rem 3rem;
}
.profile{
    width: 100%;
    border-bottom: 1px solid #002333;
}

.image{
    height: 200px;
    width: 100%;
    text-align: center;
}
.profile img{
    height: 100%;
    width: 90%;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

.career{
    font-size: 1.2rem;
    color: #2d9cdb;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.main-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f7f7f7ec;
    padding-top: 3rem;
}

.contact-info ul{
    padding-top: 2rem;
}

.contact-info ul li{
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.contact-info ul li a{
    color: #ffffff;
    text-decoration: none;
}
.contact-info ul li i{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}

.skills-section ul{
    padding-top: 2rem;
}
.skills-section ul li{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}
.skills-section ul li i{
    padding-right: 0.5rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}

.skill-title{
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 1rem;
}

.sub-para{
    color: #ccc;
    padding: .4rem 0;
}

.right-main-content{
    padding: 2rem 3rem;
}

.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2d9cdb;
    margin-bottom: 1.2rem;
    position: relative;
}

.right-title::after{
    content: "";
    position: absolute;
    width: 40%;
    height: .2rem;
    background-color: #ccc;
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.para{
    line-height: 1.6rem;
    color: #0d0d0e;
    font-size: 1.1rem;
}

.sect{
    padding-bottom: 2rem;
}
.code-block{
    display: flex;
    justify-content: center;
}
.code-block p{
        font-size: 18px;
        padding: 20px;
}
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #002333;
    text-transform: uppercase;
}
.tl-title-2{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #0d0d0e;
    text-transform: uppercase;
}

.tl-content{
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #0f0f0f;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}
.footer{
    grid-column: span 7;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 15px;
    background-color: yellow;
}
.rs-logo, .git-logo{
    height: 50px;
}
.purple{
    color: #c678dd;
}
.blue{
    color: #61afef;
}
.red{
    color: #e06c75;
}
.number{
    color: #fd0303;
}
/*Media*/
@media screen and (max-width:823px){
    .right-title::after{
        width: 40%;
    }
}
@media screen and (max-width:681px){
    .right-title::after{
        width: 30%;
    }
}
@media screen and (max-width:780px){
    .timeline{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:780px){
    .left-section{
        grid-column: span 3;
    }
    .right-section{
        grid-column: span 4;
    }
}
@media screen and (max-width:1200px){
    .main-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .profile img{
        width: 40%;
    }
}
@media screen and (max-width:700px){
    .image{
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .tl-title{
        font-size: 1.1rem;
    }
    .profile img{
        width: 50%;
    }
    .footer{
        align-items: center;
        flex-direction: column;
    }
    .right-title::after{
        content: none;
    }
}
@media screen and (max-width:390px){
    .left-content{
        padding:1rem 1rem;
    }
    .contact-info:nth-child(2){
        overflow: hidden;
    }
    .profile img{
        width: 70%;
    }
    .name{
        font-size: 1.5rem;
    }
    .code-block p{
        font-size: 14px;
        padding: 20px;
    }
    .image{
        height: 150px;
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:340px){
    .profile img{
        width: 60%;
    }
    .image{
        height: 130px;
        width: 100%;
        text-align: center;
    }
}